body {
    header {
        nav {
            form {
                input {
                    width: 50%;
                    height: 29px;
                    color: #FFF;
                    background-color: rgba(192, 192, 192, 0.3);
                }
            }
        }
    }
}